.container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.input1 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.input2 {
  grid-row: 2;
}
.inputButton {
  grid-row: 3/4;
  grid-column: 2/4;
  background-color: aqua;
}

.story {
  max-width: 800px;
  margin: 0 auto;
}

.story p {
  font-size: large;
}
